<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        <div class="container">
          <h1>Users and referral codes!</h1>
          {% for user in users %}
            <p>{{ user.email }} - {{ user.referral_code }}</p>
          {% endfor %}
        </div>
    </body>
</html>
